.center_div
  %h1 Resend confirmation instructions
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    .row.mb-3
      = f.label :email, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),class:"form-control"
    = f.submit "Resend confirmation instructions", class:"btn btn-primary"
  = render "users/shared/links"
