!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to example.com, #{@user.email}
    %p
      You have successfully signed up to example.com,
      your username is: #{@user.user_name}.
      %br/
    %p Thanks for joining and have a great day!
