%table.sp.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Title
  %tbody
    - NewsHeadline.all.each.with_index do |news, index|
      %tr
        %th{:scope => "row"}= index + 1
        %td= link_to news.headline, news.link
