.center_div
  = render 'layouts/errors', obj: @book
  = form_for @book do |f|
    = f.hidden_field :user_id, value: current_user.id
    .row.mb-3
      = f.label :title, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.text_field :title, required: true, autofocus: true, placeholder: t('.title_placeholder'), class:"form-control"
    .row.mb-3
      = f.label :release_date, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.date_field :release_date, autofocus: true, required: true, class:"form-control"
    = f.submit t('.save'), class:"btn btn-primary"
