%table.sp.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"}= t('.title_heading')
      %th{:scope => "col"}= t('.release_date_heading')
      %th{:scope => "col"}= t('.actions_heading')
      %th= button_to t('.new'), new_book_path, class:"btn btn-primary", method: :get, style:"float: right;"
  %tbody
    - @books.each.with_index do |book, index|
      %tr
        %th{:scope => "row"}= index + 1
        %td= book.title
        %td= book.release_date
        %td= link_to t('.show'), book_path(book)
        %td= link_to t('.edit'), edit_book_path(book)
        %td= link_to t('.delete'), book_path(book), method: :delete, data: { confirm: t('.confirm') }
