.center_div
  %h1 Change your password
  %br/
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "users/shared/error_messages", resource: resource
    .row.mb-3
      = f.label :password, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.password_field :password, autofocus: true, placeholder: "Password", class:"form-control"
    .row.mb-3
      = f.label :password_confirmation, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.password_field :password_confirmation, autofocus: true, placeholder: "Confirm password", class:"form-control"
    = f.submit "Change my password", class:"btn btn-primary"
  = render "users/shared/links"
