.center_div
  %h1 Forgot your password?
  %br/
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "users/shared/error_messages", resource: resource
    .row.mb-3
      = f.label :email, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.email_field :email, autofocus: true, placeholder: "email", class:"form-control"
    = f.submit "Send me reset password instructions", class:"btn btn-primary"
  = render "users/shared/links"
