.header
  %span.login-buttons
    = link_to 'Daily News', daily_news_path, class:"btn btn-primary"
    - unless user_signed_in?
      = link_to 'Log In', new_user_session_path, class:"btn btn-primary"
      = link_to 'Sign Up', new_user_registration_path, class:"btn btn-success"
    - else
      = link_to 'Log out', destroy_user_session_path, method: :delete, class:"btn btn-primary"
  %h2
    %a.navbar-brand{:href => "/"} Deqode Training
  .progress-container
    #myBar.progress-bar
