.center_div
  %h1 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    .row.mb-3
      = f.label :email, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.email_field :email, autofocus: true, placeholder: "email", class:"form-control"
    .row.mb-3
      = f.label :user_name, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.text_field :user_name, autofocus: true, placeholder: "user name", class:"form-control"
    .row.mb-3
      = f.label :password, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.password_field :password, autofocus: true, placeholder: "password", class:"form-control"
    .row.mb-3
      = f.label :password_confirmation, class:"col-sm-2 col-form-label"
      .col-sm-4
        = f.password_field :password_confirmation, autofocus: true, placeholder: "confirm password", class:"form-control"
    = f.submit "Sign up", class:"btn btn-primary"
  = render "users/shared/links"
